---
import Layout from "@/layouts/default.astro";
import Container from "@/components/container.astro";
import { getCollection } from "astro:content";

const blogEntries = await getCollection("blog");
---

<Layout title="Blog">
	<Container>
		<h1 class="text-5xl font-bold">Blog</h1>
		{blogEntries.map((entry) => (
			<a href={"/blog/" + entry.slug}>
				<article class="card md:card-side bg-base-200 link-hover">
					<aside class="flex flex-col justify-center text-center items-center gap-2 mt-8 md:mt-0 md:ml-8">
						<p class="text-4xl lg:text-5xl font-bold">
							{entry.data.date.getDay()}
						</p>
						<p class="text-md lg:text-xl">
							{entry.data.date.toLocaleString("default", {
								month: "short",
								year: "numeric",
							})}
						</p>
					</aside>
					<div class="card-body">
						<h2 class="card-title">
							{entry.data.title}<span class="material-symbols-rounded">
								chevron_right
							</span>
						</h2>
						<p>{entry.data.description}</p>
					</div>
				</article>
			</a>
		))}
	</Container>
</Layout>
