---
import Container from "@/components/container.astro";
import Layout from "@/layouts/default.astro";
---

<Layout title="notangelmario">
	<Container>
		<div class="flex flex-row-reverse md:flex-row gap-4">
			<img
				src="https://github.com/notangelmario.png"
				class="rounded h-32 w-32"
			/>
			<div>
				<h1 class="text-5xl md:text-7xl font-bold">
					Savin <br/>Angel-Mario
				</h1>
				<p>
					The ever curious, ever learning, ever evolving
					developer.
				</p>
			</div>
		</div>

		<div role="alert" class="alert alert-success">
			<span class="material-symbols-rounded">
				rocket_launch
			</span>
			<span>
				I'm now accepting freelance projects. If you have a project
				you'd like me to work on, please get in touch.
			</span>
		</div>

		<div class="card bg-base-200">
			<div class="card-body">
				<h2 class="card-title">Roseto</h2>
			</div>
		</div>

		<div class="card bg-base-200">
			<div class="card-body">
				<h2 class="card-title">Paquet</h2>
			</div>
		</div>

		<div class="bg-[radial-gradient(farthest-side_at_0%,oklch(var(--p)),transparent)] w-[40vw] h-[80vw] absolute left-0 opacity-75 dark:opacity-50 -z-10 select-none"></div>

		<h2 class="text-5xl font-bold mt-8">
			Volunteering
		</h2 >

		<div class="card bg-base-200">
			<div class="card-body">
				<h2 class="card-title">Paquet</h2>
			</div>
		</div>

		<div class="card bg-base-200">
			<div class="card-body">
				<h2 class="card-title">Paquet</h2>
			</div>
		</div>

		<div class="card bg-base-200">
			<div class="card-body">
				<h2 class="card-title">Paquet</h2>
			</div>
		</div>
	</Container>
</Layout>
