---
import Container from "@/components/container.astro";
import Layout from "@/layouts/default.astro";
import { Image } from "astro:assets";
---

<Layout noNavbar>
	<Container>
		<div>
			<div
				class="flex flex-row-reverse justify-between md:justify-start md:flex-row gap-4 mb-2"
			>
				<Image
					transition:name="logo"
					src={import("@/assets/logo.jpg")}
					alt="Savin Angel-Mario"
					width={128}
					height={128}
					class="rounded-box w-32 h-32"
				/>
				<h1 class="text-5xl md:text-7xl font-bold">
					Savin <br />Angel-Mario
				</h1>
			</div>
			<p>The ever curious, ever learning, ever evolving developer.</p>
		</div>

		<div role="alert" class="alert alert-success">
			<span class="material-symbols-rounded"> rocket_launch </span>
			<span>
				I'm now accepting freelancing projects. If you have a project
				you'd like me to work on, please get in touch.
			</span>
			<div>
				<a class="btn" href="/freelancing">
					Find out more
					<span class="material-symbols-rounded">
						chevron_right
					</span>
				</a>
			</div>
		</div>

		<div class="card bg-base-200">
			<div class="card-body">
				<h2 class="card-title">Blog</h2>
				<p>I write about my experiences, thoughts, and projects.</p>
				<div class="card-actions">
					<a href="/blog" class="btn btn-outline">
						Read more<span class="material-symbols-rounded">
							chevron_right
						</span>
					</a>
				</div>
			</div>
		</div>

		<h2 class="text-5xl font-bold -mt-8 pt-12" id="projects">Projects</h2>

		<div class="grid grid-cols-1 md:grid-cols-3 gap-2">
			<div class="card bg-base-200 md:col-span-2">
				<div class="card-body">
					<img
						src="https://roseto.dev/logo.svg"
						class="w-16 h-16"
						alt=""
					/>
					<h2 class="card-title">Roseto</h2>
					<span class="badge badge-success">MAINTAINED</span>
					<p>
						Roseto is a business that is focused on privacy,
						security, freedom, sustainability and development. We
						are digitalizing the world, evolving the communities,
						and growing together.
					</p>
					<div class="card-actions">
						<a
							class="btn btn-outline"
							href="https://roseto.dev"
							target="_blank"
						>
							Check out
							<span class="material-symbols-rounded"
								>open_in_new</span
							>
						</a>
						<a
							class="btn btn-square btn-outline"
							href="https://opencollective.com/roseto"
							target="_blank"
						>
							<img
								src="https://cdn.simpleicons.org/opencollective/000000/ffffff"
								class="w-6 h-6"
								alt=""
							/>
						</a>
						<a
							class="btn btn-square btn-outline"
							href="https://github.com/roseto"
							target="_blank"
						>
							<img
								src="https://cdn.simpleicons.org/github/000000/ffffff"
								class="w-6 h-6"
								alt=""
							/>
						</a>
					</div>
				</div>
			</div>

			<div class="card bg-base-200">
				<div class="card-body">
					<img
						src="https://paquet.app/logo.png"
						class="w-16 h-16 rounded-full"
						alt=""
					/>
					<h2 class="card-title">Paquet</h2>
					<span class="badge badge-success">MAINTAINED</span>
					<p>
						Paquet is an app store optimized for web apps. A
						platform that allows developers to distribute their web
						apps to users.
					</p>
					<div class="card-actions">
						<a
							class="btn btn-outline"
							href="https://paquet.app"
							target="_blank"
						>
							Check out
							<span class="material-symbols-rounded">
								open_in_new
							</span>
						</a>
						<a
							class="btn btn-square btn-outline"
							href="https://github.com/notangelmario/paquet"
							target="_blank"
						>
							<img
								src="https://cdn.simpleicons.org/github/000000/ffffff"
								class="w-6 h-6"
								alt=""
							/>
						</a>
					</div>
				</div>
			</div>

			<div class="card bg-base-200">
				<div class="card-body">
					<h2 class="card-title">rumage</h2>
					<span class="badge badge-success">MAINTAINED</span>
					<p>
						A static site generator that is focused on simplicity
						and speed. Built with Rust, rumage converts markdown
						files into HTML.
					</p>
					<div class="card-actions">
						<a
							href="https://github.com/notangelmario/rumage"
							target="_blank"
							class="btn btn-outline"
						>
							Learn More
							<span class="material-symbols-rounded">
								open_in_new
							</span>
						</a>
					</div>
				</div>
			</div>

			<div class="card bg-base-200 md:col-span-2">
				<div class="card-body">
					<img
						src="https://raw.githubusercontent.com/notangelmario/ciorogarla.eu.org/main/src/assets/logo.png"
						class="w-16 h-16 rounded-full"
						alt=""
					/>
					<h2 class="card-title">ciorogarla.eu.org</h2>
					<span class="badge badge-success">MAINTAINED</span>
					<p>
						An open-source project that aims to provide a free and
						open-source website for the village of Ciorogârla,
						Romania.
					</p>
					<div class="card-actions">
						<a
							href="https://ciorogarla.eu.org"
							target="_blank"
							class="btn btn-outline"
						>
							Check out
							<span class="material-symbols-rounded">
								open_in_new
							</span>
						</a>
						<a
							class="btn btn-square btn-outline"
							href="https://github.com/notangelmario/ciorogarla.eu.org"
							target="_blank"
						>
							<img
								src="https://cdn.simpleicons.org/github/000000/ffffff"
								class="w-6 h-6"
								alt=""
							/>
						</a>
					</div>
				</div>
			</div>

			<div class="card bg-base-200 md:row-span-2">
				<div class="card-body">
					<img
						src="https://raw.githubusercontent.com/notangelmario/marker/main/public/android-chrome-192x192.png"
						class="w-16 h-16 rounded-full"
						alt=""
					/>
					<h2 class="card-title">Marker</h2>
					<span class="badge badge-success">COMPLETED</span>
					<p>
						A simple desktop app that allows you to take notes,
						quickly make changes to code, and save snippets.
					</p>
					<div class="card-actions">
						<a
							href="https://github.com/notangelmario/marker"
							target="_blank"
							class="btn btn-outline"
						>
							Learn More
							<span class="material-symbols-rounded">
								open_in_new
							</span>
						</a>
					</div>
				</div>
			</div>

			<div class="card bg-base-200 md:col-span-2">
				<div class="card-body">
					<h2 class="card-title">gread</h2>
					<span class="badge badge-success">COMPLETED</span>
					<p>
						A gruvbox themed read mode for your browser. gread
						removes distractions and makes reading more enjoyable.
					</p>
					<div class="card-actions">
						<a
							href="https://gread.notangelmario.dev"
							target="_blank"
							class="btn btn-outline"
						>
							Check out
							<span class="material-symbols-rounded">
								open_in_new
							</span>
						</a>
						<a
							class="btn btn-square btn-outline"
							href="https://github.com/notangelmario/gread"
							target="_blank"
						>
							<img
								src="https://cdn.simpleicons.org/github/000000/ffffff"
								class="w-6 h-6"
								alt=""
							/>
						</a>
					</div>
				</div>
			</div>

			<div class="card bg-base-200">
				<div class="card-body">
					<h2 class="card-title">fresh_gleam</h2>
					<span class="badge badge-success">MAINTAINED</span>
					<p>A plugin for Fresh to use the Gleam language.</p>
					<div class="card-actions">
						<a
							href="https://github.com/notangelmario/fresh_gleam"
							target="_blank"
							class="btn btn-outline"
						>
							Learn More
							<span class="material-symbols-rounded">
								open_in_new
							</span>
						</a>
					</div>
				</div>
			</div>

			<div class="card bg-base-200">
				<div class="card-body">
					<h2 class="card-title">hardbound</h2>
					<span class="badge badge-warning">ARCHIVED</span>
					<p>
						A simple SolidJS framework for building web apps with
						Deno.
					</p>
					<div class="card-actions">
						<a
							href="https://github.com/notangelmario/hardbound"
							target="_blank"
							class="btn btn-outline"
						>
							Learn More
							<span class="material-symbols-rounded">
								open_in_new
							</span>
						</a>
					</div>
				</div>
			</div>

			<div class="card bg-base-200 md:col-span-2">
				<div class="card-body">
					<h2 class="card-title">markdownc</h2>
					<span class="badge badge-success">COMPLETED</span>
					<p>
						A simple, fast, and easy to use markdown compiler built
						with C.
					</p>
					<div class="card-actions">
						<a
							href="https://github.com/notangelmario/markdownc"
							target="_blank"
							class="btn btn-outline"
						>
							Learn More
							<span class="material-symbols-rounded">
								open_in_new
							</span>
						</a>
					</div>
				</div>
			</div>

			<div class="card bg-base-200 md:row-span-2">
				<div class="card-body">
					<h2 class="card-title">Solander</h2>
					<span class="badge badge-warning">ARCHIVED</span>
					<p>
						A web app map to find interesting places and events in
						your area.
					</p>
					<div class="card-actions">
						<a
							href="https://github.com/notangelmario/solander"
							target="_blank"
							class="btn btn-outline"
						>
							Learn More
							<span class="material-symbols-rounded">
								open_in_new
							</span>
						</a>
					</div>
				</div>
			</div>

			<div class="card bg-base-200 md:col-span-2">
				<div class="card-body">
					<h2 class="card-title">mdserve</h2>
					<span class="badge badge-warning">UNMAINTAINED</span>
					<p>
						A tool built with Deno that allows you to preview
						markdown files in your browser.
					</p>
					<div class="card-actions">
						<a
							href="https://github.com/notangelmario/mdserve"
							target="_blank"
							class="btn btn-outline"
						>
							Learn More
							<span class="material-symbols-rounded">
								open_in_new
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</Container>

	<svg
		xmlns="http://www.w3.org/2000/svg"
		viewBox="0 0 1440 320"
		preserveAspectRatio="none"
		height="100"
		width="100%"
	>
		<path
			fill="oklch(var(--p))"
			fill-opacity="1"
			d="M0,160L60,160C120,160,240,160,360,165.3C480,171,600,181,720,170.7C840,160,960,128,1080,112C1200,96,1320,96,1380,96L1440,96L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"
		></path>
	</svg>
	<Container class="bg-primary text-primary-content" noMargin>
		<div class="max-w-screen-lg mx-auto">
			<h2
				class="text-4xl md:text-5xl font-bold -mt-8 pt-12"
				id="volunteering"
			>
				Volunteering
			</h2>

			<div
				class="grid grid-cols-1 md:grid-cols-2 gap-2 text-base-content"
			>
				<a
					href="https://roseto.dev/projects/roseto-20240110"
					target="_blank"
				>
					<div class="card bg-base-200 link-hover">
						<figure>
							<img
								src="https://raw.githubusercontent.com/roseto/roseto/main/src/content/projects/images/roseto-20240110/1.webp"
								alt="Learning about Volunteering"
								class="w-full max-h-48 object-cover"
							/>
						</figure>
						<div class="card-body">
							<h2 class="card-title">
								Learning about Volunteering<span
									class="material-symbols-rounded"
								>
									open_in_new
								</span>
							</h2>
						</div>
					</div>
				</a>

				<a
					href="https://roseto.dev/projects/roseto-20231007"
					target="_blank"
				>
					<div class="card bg-base-200 link-hover">
						<figure>
							<img
								src="https://raw.githubusercontent.com/roseto/roseto/main/src/content/projects/images/7-oct-2023/5.webp"
								alt="Roseto Training Activity"
								class="w-full max-h-48 object-cover"
							/>
						</figure>
						<div class="card-body">
							<h2 class="card-title">
								Roseto Training Activity<span
									class="material-symbols-rounded"
								>
									open_in_new
								</span>
							</h2>
						</div>
					</div>
				</a>

				<a href="/blog/my-future-job">
					<div class="card bg-base-200 link-hover">
						<figure>
							<Image
								src={import("@/assets/images/mfj-group.jpg")}
								alt="MFJ Group"
								class="w-full max-h-48 object-cover"
							/>
						</figure>
						<div class="card-body">
							<h2 class="card-title">
								My Future Job<span
									class="material-symbols-rounded"
								>
									chevron_right
								</span>
							</h2>
						</div>
					</div>
				</a>

				<a href="/blog/young-entrepreneurship">
					<div class="card bg-base-200 link-hover">
						<figure>
							<Image
								src={import("@/assets/images/ye-group.jpg")}
								alt="YE Group"
								class="w-full max-h-48 object-cover"
							/>
						</figure>
						<div class="card-body">
							<h2 class="card-title">
								Young Entrepreneurship<span
									class="material-symbols-rounded"
								>
									chevron_right
								</span>
							</h2>
						</div>
					</div>
				</a>
			</div>

			<h2 class="text-4xl md:text-5xl font-bold -mt-8 pt-12" id="artwork">
				Artwork
			</h2>

			<div class="grid grid-cols-1 md:grid-cols-2 gap-2">
				<Image
					src={import("@/assets/artwork/1.png")}
					alt=""
					class="rounded-box z-50"
				/>
				<Image
					src={import("@/assets/artwork/2.png")}
					alt=""
					class="rounded-box z-50"
				/>
				<Image
					src={import("@/assets/artwork/3.png")}
					alt=""
					class="rounded-box z-50"
				/>
				<Image
					src={import("@/assets/artwork/4.png")}
					alt=""
					class="rounded-box z-50"
				/>
			</div>
		</div>
	</Container>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		viewBox="0 0 1440 320"
		preserveAspectRatio="none"
		height="100"
		width="100%"
	>
		<path
			fill="oklch(var(--p))"
			fill-opacity="1"
			d="M0,160L60,160C120,160,240,160,360,165.3C480,171,600,181,720,170.7C840,160,960,128,1080,112C1200,96,1320,96,1380,96L1440,96L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"
		></path>
	</svg>
</Layout>
