---
interface Props {
	noPadding?: boolean;
	noSpaceBetween?: boolean;
}

const { noPadding, noSpaceBetween } = Astro.props;
---

<div
	class={`
		flex flex-col
		${noPadding ? "" : "max-w-screen-lg mx-auto p-8"}
		${noSpaceBetween ? "" : "gap-4"}
	`}
>
	<slot/>
</div>
