---
import Container from "./container.astro";

---

<footer class="py-8 bg-base-300 rounded-t-3xl">
	<Container>
		<p class="text-center">
			Made with &hearts; by Savin Angel-Mario
		</p>
		<a href="mailto:hello@notangemario.dev" target="_blank" class="link text-center">
			hello@notangelmario.dev
		</a>
	</Container>
</footer>
