---
import { Image } from "astro:assets";
---

<nav
	class="flex flex-row items-center justify-between p-4 max-w-screen-lg mx-auto w-full"
>
	<a href="/" transition:name="logo">
		<Image
			src={import("@/assets/logo.jpg")}
			width={32}
			height={32}
			alt=""
			class="w-8 h-8 rounded"
		>
	</a>
</nav>
