html,
body {
	margin: 0;
	font-family: "Fredoka", sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	overflow-x: hidden;
	background-color: #d4cafa;
	height: 100%;
}

*:not(body) {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
}

*:not(body)::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}


* {
	margin: 0;
	box-sizing: border-box;
	-webkit-touch-callout: none;
}

::selection {
	background-color: #d4cafa;
	color: #fff;
}

a {
	color: #d4cafa;
	text-decoration-line: underline;
}