---
import "@/styles/global.css";
import Footer from "@/components/footer.astro";
import Navbar from "@/components/navbar.astro";
import { getImage } from "astro:assets";
import { ViewTransitions } from "astro:transitions";

interface Props {
	title: string;
	noNavbar?: boolean;
	frontmatter?: Omit<Props, "frontmatter">
}

const { title } = Astro.props?.frontmatter ? Astro.props.frontmatter : Astro.props;
---

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href={(await getImage({ src: import("@/assets/logo.jpg"), format: "ico", width: 16, height: 16 })).src} />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,700,0,0" />
		<title>{title}</title>
		<ViewTransitions  />
	</head>
	<body class="flex flex-col min-h-svh">
		{!Astro.props.noNavbar &&
			<Navbar />
		}
		<main
			transition:animate="slide"
			class={`flex-1 ${Astro.props.frontmatter ? "prose lg:prose-lg dark:prose-invert w-full max-w-screen-lg mx-auto p-8" : ""}`}
		>
			<slot/>
		</main>
		<Footer/>
	</body>
</html>
