---
import "@/styles/global.css";
import Footer from "@/components/footer.astro";
import Navbar from "@/components/navbar.astro";
import { getImage } from "astro:assets";
import { ViewTransitions } from "astro:transitions";

interface Props {
	title?: string;
	noNavbar?: boolean;
	frontmatter?: Omit<Props, "frontmatter">
}

const { title } = Astro.props?.frontmatter ? Astro.props.frontmatter : Astro.props;
---

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href={(await getImage({ src: import("@/assets/logo.jpg"), format: "jpg", width: 16, height: 16 })).src} />
		<title>{title ? `${title} - Savin Angel-Mario` : "Savin Angel-Mario"}</title>
		<meta name="theme-color" content="oklch(var(--b1))" />
		<meta property="og:title" content={title ? `${title} - Savin Angel-Mario` : "Savin Angel-Mario"} />
		<meta property="og:description" content="Savin Angel-Mario's personal website" />
		<meta property="og:image" content={(await getImage({ src: import("@/assets/logo.jpg"), format: "jpg", width: 512, height: 512 })).src} />
		<meta property="og:url" content="https://notangelmario.dev" />
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="Savin Angel-Mario" />
		<meta property="og:locale" content="en_US" />
		<meta property="og:locale:alternate" content="en_GB" />

		<ViewTransitions  />
	</head>
	<body class="flex flex-col min-h-svh overflow-x-hidden">
		{!Astro.props.noNavbar &&
			<Navbar />
		}
		<div
			class="bg-[radial-gradient(farthest-side_at_0%,oklch(var(--p)),transparent)] w-full h-full min-w-24 min-h-48 aspect-square max-h-[300vh] max-w-[150vw] absolute left-0 opacity-50 dark:opacity-15 -z-10 select-none"
			transition:name="decoration1"
		>
		</div>
		<div
			class="bg-[radial-gradient(farthest-side_at_100%,oklch(var(--p)),transparent)] w-full h-full min-w-24 min-h-48 max-h-[calc(120vh-50vh)] max-w-[calc(100vh-50vh)] absolute top-[50vh] right-0 opacity-50 dark:opacity-15 -z-10 select-none"
			transition:name="decoration2"
		>
		</div>
		<main
			transition:animate="slide"
			class={`flex-1 ${Astro.props.frontmatter ? "prose lg:prose-lg dark:prose-invert prose-img:rounded-box w-full max-w-screen-lg mx-auto p-8" : ""}`}
		>
			<slot/>
		</main>
		<Footer/>
	</body>
</html>
